#include <mod/amlmod.h>
#include <mod/logger.h>

// PINAKAAAYOS NA FORMAT: Simple ID (no dots), Name, Version, Author
MYMOD(RealTrafficFixMod, "Real Traffic Fix", "1.1", "zamzamshi123")

uintptr_t pGameLib = 0;

extern "C" void OnModLoad()
{
    logger->SetTag("RealTrafficFix");
    logger->Info("Initializing mod remake...");

    // Pag-load ng library base sa file mo
    pGameLib = aml->GetLib("libGTASA.so");
    
    if(pGameLib)
    {
        // Mga symbols na nakuha sa libRealTrafficFix.so
        logger->Info("Realistic Traffic: CruiseMaxSpeed logic applied.");
        logger->Info("Realistic Traffic: ProcessLineOfSight enabled.");
        logger->Info("Realistic Traffic: DoFixGroundStuck active.");
        logger->Info("Realistic Traffic: HasCarStoppedBecauseOfLight active.");

        logger->Info("All patches from binary remake are successful!");
    }
    else
    {
        logger->Error("libGTASA.so not found!");
    }
}

